// app.scss

.sidebar {
    width: 60px;
}

// Dark Mode Overrides
[data-bs-theme="dark"] {
    .btn-outline-primary {
        --bs-btn-color: #e0e0e0;
        --bs-btn-border-color: #e0e0e0;

        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #e0e0e0;
        --bs-btn-hover-border-color: #e0e0e0;

        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #e0e0e0;
        --bs-btn-active-border-color: #e0e0e0;
    }
}